body {
    color: white;
    background-color: black;
}
/*
.tausta {
    background-size: cover;
    position: ;
    z-index: -1;
    /*height: 100%;
    width: 99.6%;
    opacity: 0.5;
    transition: .8s ease;
}*/
/*
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}*/

#panel {padding: 30px;display: none;}

/*
.dropdown:hover .dropdown-content {
    display: block;
}
*/

.text{
    position: absolute;  
    clear: right;
    display: inline-block;
}
#suo {
 
    margin-right: 5%;
    display: inline;
}
 #tul { 
     margin-left: 5%;
     display: inline;
}
h2 {
    padding-top: 5%;
    text-align: center;
}

.header li {display: inline-block;}

.addFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CenterFlex {
    display:flex;
    justify-content: center;
}
.RantalaText {   
    opacity: 0;
    display:flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    transition: opacity 1.4s ease-in-out;    
}
.RantalaText h1 {font-size: 3.5em;}
.RantalaText p {font-size: 2em;}
.ShowMe {opacity:1;}

.MyBox{      
    position: relative;
    top:300px;
    display: table;
    margin: 0 auto;   
    width:30%;
    height:200px;
    background-image:url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    transition: 2s ease;
    }
    
.MyBox2 {filter: invert(100%);}
 
.header a {
    display: block;
    color: #4A4A4A;
    padding: 30px 30px;
}
a {
    display:flex;
    justify-content: center;
    color:white;
    font-size: 20px;
    text-decoration: none
}
a:hover {  
    color:orange;
    font-size: 23px;
    padding: 0px, 0px;
}
@media screen and (max-width: 800px) {
    body {
    width: 100%;
}
}
@media screen and (max-width: 800px) {
    .text {
    margin-right: 30%;
}
}
#li {display: none;}
select {width: 100px; font-size: 15px;}

#panel, #flip {
    text-align: center;
    background-color: black;
    /*filter: invert(80%);*/
    opacity:  0.70;
}

#flip, .kuva{
    position:absolute;    
    display:table;
    left:37%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;  
    border-radius: 0px 0px 20px 20px;
}


/*
#panel{
    /*padding: 10px;*/
    /*margin-left: auto;
    margin-right: auto;*/
    /*width: 25%;
}
*/

.tausta{
    filter: sepia(100%);
    position:absolute;
    margin-left:-8px;
    width: 100%;
    z-index: -1;    
}

.FlexMe {
    display:flex;
    justify-content: center;
    margin-left:-8px;   
}
#Pic1 {
    background-image: url("Files/P1130926-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10%;
    width: 10%;
}
#textHere {
    width:30%;
    background-color: black;
    border-radius: 30px;
}
.InfoBox1{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;    
    left:0%;
    width:30%;
    height: 40%;
    background-color: #73725A;
    color:white;
    font-size: 18px;  
    transition: 0.8s ease;
    border-radius: 0px 0px 30px 0px;
}
.InfoBox2{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;    
    right:0%;
    width:30%;
    height: 40%;
    font-size: 18px;
    background-color: #73725A;
    color:white;
    transition: 0.8s ease;
    border-radius: 0px 0px 0px 30px; 
}
.InfoBox2V2{
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;    
    right:0%;
    width:30%;
    height: 80%;
    font-size: 18px;
    background-color: #73725A;
    color:white;
    transition: 0.8s ease;
    border-radius: 0px 0px 0px 30px;
}
.InfoBoxAddColor {background-color:#323119;}
.InfoBox1:hover{background-color:#323119;}
.InfoBox2:hover{background-color:#323119;}
.InfoBox2V2:hover{background-color:#323119;}

.line {width:100%;color:white;}
.b {font-weight: bold;}
#FontH1 {font-size: 25px;}

#textHere {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:17%;
    position:absolute;
    left:0.5%;
}
#BoxInsideDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;   
    height:70%;   
}

.tausta:hover  {opacity: 1;transition: .8s ease;}
#Special {display: inline;color:#D7D152;}
#TietokoneLomake {display: inline;color:#D7D152;}
ul.a {color:#D7D152;}
li.b {color:#D7D152;}

#KyselyLomake{
    position:fixed;
    display: none;
    top:8%;
    width:40%;
    height:90%;
}
#LuovutusLomake{
    position:fixed;
    display: none;
    top:8%;
    width:40%;
    height:90%;
}

#Close-Iframe {
    position:fixed;
    display: none;
    left:64%;
    top:8.5%;
    width:5%;
    height:4%;
    border:none; 
    border-radius: 20px;
    background-color: red;
    color:white;
    font-size: 2em;
}
#Close-Iframe-Lomake{
    position:fixed;
    display: none;
    left:64%;
    top:8.5%;
    width:5%;
    height:4%;
    border:none; 
    border-radius: 20px;
    background-color: red;
    color:white;
    font-size: 2em;
}
#FullScreen {height: 100%;width: 100%;}
#Valikoima-Boksi {    
    width:100%;
    height:100%;
}