<nav>
    <a href="/">Pääsivu</a>
    <a href="/Tietokoneen-kunnostus">Tietokoneen kunnostus</a>
    <a href="/Tietix-pajalaisten_toita">Palaisten töitä</a>
    <a href="/Keittion-toimintaa">Keittiön toimintaa</a>
    <a href="/Yhteystiedot">Yhteystiedot</a>
    <a href="/Taulukko">Taulukko</a>
</nav>
